[2015-10-29 11:37] pixelpeter opened #2 "Installation problem"
There're no installation instructions available so I tried it this way:
- cloned the repo ```git clone https://github.com/ant-vel/antVel.git ./```
- created a standard ```.env```file
- create new key ```php artisan key:generate```
-  executed  ```composer update```
- post-update-cmd event ``php artisan clear-compiled`` will fail because of
[code]
- Fixed it temporarily with
[code]
- run ```php art

[2015-10-29 11:53] tuanmy commented on #2
hey @pixelpeter, i have just installed. and I have a same issue with you, but I fixed it by remove ->toArray() at pp/Providers/AppServiceProvider.php
then using cmd to update composer, migrate and seed database
But I still have a other problem as below picture when run app,
https://gyazo.com/9cc0810715a4906846f0a867d9d606d3
Anyone can fix it ??

[2015-10-29 18:39] gocanto commented on #2
Working on it.. Keep on touch. Thanks for helping on testing it.

[2015-10-29 21:17] gocanto commented on #2
Fixed!

[2015-10-30 01:04] gocanto commented on #2
@tuanmy What did you do? I have been trying to replay that error and I can not get it showed up

[2015-10-30 06:33] pixelpeter commented on #2
With the current fix it worked for me.
- ```git clone https://github.com/ant-vel/antVel.git ./```
- create standard ```.env```file
- execute ```composer install```
- execute ```php artisan migrate --seed```

@gocanto Maybe you can add an ```.env.example```file ? Thanks

[2015-10-30 09:15] Quiss opened #6 "Create gitter chat"
Please create gitter room =)

[2015-10-30 15:05] gocanto commented on #6
@Quiss it's done, but I not sure how that works

[2015-10-30 15:13] #6 closed

[2015-10-30 15:34] gocanto commented on #2
@pixelpeter I just pushed up the example. Thanks for suggesting that!

[2015-10-30 15:34] #2 closed

[2015-10-31 07:12] boralp commented on #2
Could you be more specific about "Create standard `.env` file? Thank you.

[2015-10-31 07:36] pixelpeter commented on #2
@boralp If you check out the development branch you'll find a ```.env-example``` file.
Just copy this as ```.env``` and you're done.

[2015-11-03 09:41] stanwarri opened #9 "Invalid Arguments after installation"
After installing, I got this error when I tried to view the page
    ErrorException in Utility.php line 264: implode(): Invalid arguments passed (View: C:\wamp\www\netaviva\estore\resources\views\home.blade.php)

[2015-11-03 15:31] gocanto commented on #9
Did you run the seeders?

[2015-11-03 19:20] wwwroth opened #10 "reCaptcha site key not defined on initial install"
I pulled the repo and installed it. Was walking through the register an account process and noticed the reCaptcha was not appearing and wouldn't let me continue.

I haven't looked much into the source but I will be branching off and bypassing the captcha if the sitekey isn't in the .env to work around this error.

[2015-11-03 19:29] wwwroth commented on #10
Actually, scratch this. I put the site into debug mode and it bypassed the reCaptcha.

[2015-11-03 22:37] gocanto commented on #10
You need to have these variables in you .env

RECAPTCHA_PUBLIC_KEY

RECAPTCHA_PRIVATE_KEY

Then you should be able to see the reCapcha

[2015-11-03 22:37] #10 closed

[2015-11-04 13:48] stanwarri commented on #9
Yes. I did that and I can see the database tables seeded.

[2015-11-04 16:35] gocanto commented on #9
@stanwarri  Make sure of fallowing the installation steps and see the .env file examples because I had the issue reported but after fixed them no body complained again. Please, keep me post it

[2015-11-05 10:24] Unstinted opened #18 "Fail to load Home"
'ErrorException' with message 'implode(): Invalid arguments passed (View: C:\Code\antVel\resources\views\home.blade.php)' in C:\Code\antVel\app\Helpers\Utility.php:270

I followed the installation process to the full but came across this error. Any Fix?

[2015-11-05 19:12] gocanto commented on #9
@stanwarri hello bud, I just cloned/installed following the guide installation and everything worked perfectly. So, can you enum step by step what you did?

[2015-11-05 19:12] gocanto commented on #18
@Unstinted hello bud, I just cloned/installed following the guide installation and everything worked perfectly. So, can you enum step by step what you did?

[2015-11-11 18:33] ibexcore opened #22 "Dinesh barcode package no longer exists"
The dinesh/barcode package no longer exists. See DMCA at https://github.com/github/dmca/blob/master/2015-09-09-Tecnick.md

Change to an alternative package for something like https://github.com/milon/barcode

[2015-11-11 18:37] gocanto commented on #22
ok, thanks.. I can see that they are pretty similar to each other

[2015-11-11 19:05] gocanto commented on #22
fixed!

[2015-11-11 19:05] #22 closed

[2015-11-14 00:13] #9 closed

[2015-11-14 00:14] #18 closed

[2015-11-14 10:49] Unstinted commented on #18
yes i did exactly as you enum on the installation but it fail to startup i can make available the screenshot if you want me to.

Hope to read from you soon.

[2015-11-14 16:07] gocanto commented on #18
Sure! Post the screenshot ..
On Nov 14, 2015 4:49 AM, "Oyeku Ebenezer Damilare" <notifications@github.com>
wrote:

[2015-11-16 18:37] gocanto opened #25 "Gulp is not working"
module.js:338
    throw err;
          ^
Error: Cannot find module 'laravel-elixir'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at Object.<anonymous> (/home/vagrant/Code/antvel/gulpfile.js:1:76)
    at Module._compile (module.js:460:26)
    at Object.Module.

[2015-11-16 22:58] #25 closed

[2015-11-18 05:35] adangbryen opened #28 "where is the pay module"
A user role person buy the products, where is the place to pay for the order???

[2015-11-18 16:57] gocanto commented on #28
That module is not built right now.. We are working hard to have ready soon.

[2015-11-18 16:57] #28 closed

[2015-12-24 04:54] SaifulAzam opened #35 "Hey"
After i place the Order its success but know payment option or redirec, like paypal, or stripe

[2015-12-24 16:44] gocanto commented on #35
We are still working on those modules.. they will come out asap! be on touch and thank you for testing!

[2015-12-24 16:44] #35 closed

[2016-02-05 18:04] medmo opened #41 "Problem after install"
i got this error

`ErrorException in Utility.php line 288:
implode(): Invalid arguments passed (View: C:\wamp\www\antVel\resources\views\products\partial\productBox.blade.php) (View: C:\wamp\www\antVel\resources\views\products\partial\productBox.blade.php)`

[2016-02-05 18:05] gocanto commented on #41
Did you run the migrations ?

[2016-02-05 18:24] medmo commented on #41
![error antvel bb](https://cloud.githubusercontent.com/assets/5329388/12855142/9ff42c4c-cc35-11e5-9d1f-037667ab2105.PNG)
Yes i dit it. and all seeds are ok.

When i try to get home page and products page. i get this error
![error antvel](https://cloud.githubusercontent.com/assets/5329388/12855113/753a4874-cc35-11e5-9dd5-86a9c257db79.PNG)

[2016-02-05 18:27] gocanto commented on #41
Let me take a look at it

[2016-02-05 20:37] gocanto commented on #41
I just ran the installation, and got this response:

[code]

After, the app worked just fine.

I was not able to reproduce your error.

Did you follow the installation guide?

[2016-02-13 00:02] #41 closed

[2016-02-25 20:04] Vishnja opened #49 "Demo credentials for admin doesn't work"
Credentials for admin doesn't work in demo site.

[2016-02-25 20:47] gocanto commented on #49
Yes, I am aware of it. I had to change the admin's one because somebody mess with the demo. So far, Admin is the one who controls the site configuration and I have not had time to change this in the code.

If you want to test it out, you will have to clone the repo and install it on your machine.

Let me know if you have any issue, I love helping.

Thanks for testing.

[2016-02-25 21:43] #49 closed

[2016-02-25 21:44] Vishnja commented on #49
I will install locally. Thank you for your work!

[2016-02-25 21:45] gocanto commented on #49
np

[2016-02-28 18:12] Vishnja commented on #49
I have problems upgrading Homestead to latest version (with MySQL 5.7 to support for 'json' field). PostgerstSQL also gives a lot of errors. OpenServer (WAMP) with Mysql 5.7 doesn't work either:

Really interested to see admin. (May be if someone messed with DB it would good idea to automatically reseed it once every 3-4 hours).

[2016-02-28 18:32] gocanto commented on #49
check this link https://laravel.com/docs/5.2/homestead out and as I said, I would like to do more in this project but time my enemy these days.

[2016-03-04 04:40] PhanHaHus opened #54 "php artisan migrate:refresh error 1064 on sql syntax"
when Im trying run : php artisan migrate:refresh, I cant run migrate. Help me pls
http://prnt.sc/aayhhs

[2016-03-04 05:37] gocanto commented on #54
It seems like you have an issue with your mysql version accepting json fields.. Try updating it or moving to homestead and hit the command back again

[2016-03-04 07:02] PhanHaHus commented on #54
5.6.21 is my sql version, I think it support json type. :(

[2016-03-04 07:06] PhanHaHus commented on #54
sorry, when I trying change type json to string, it can run, thank you gocanto :D

[2016-03-04 07:06] #54 closed

[2016-03-04 09:29] wqcoder opened #55 "Install Problem"
Hi, I'm new to Laravel. I just follow the guide, and came across the error.
[code]
I am using homestead.
php version is 7.0.13
mySql vesion is 5.7.11

I tried wamp (PHP 5.5.12 mySql 5.6.17 ) and got the same error.
Would you please help me? Thank you in advance.

[2016-03-04 13:47] gocanto commented on #54
Np

[2016-03-04 13:52] gocanto commented on #55
first, you should fix ur composer warning. Click on the link suggested and follow the guide the offer.

To fix the "log" issue, you have to check your '.env' and look for string with spaces, as (this is the title) and close them with (").. For example, "this is the title"

[2016-03-04 19:55] gocanto commented on #54
just found this https://mattstauffer.co/blog/strict-mode-and-other-mysql-customizations-in-laravel-5-2

u can try this out as well

[2016-03-05 01:34] PhanHaHus commented on #54
ok, I will try, thank you gocanto :)

[2016-03-05 17:12] #55 closed

[2016-03-14 01:38] wqcoder commented on #55
Fixed，thank you so much.

[2016-03-17 17:32] gocanto opened #60 "Who would like to see antvel replacing angularjs by vuejs?"

[2016-03-17 18:47] dukenst2006 commented on #60
@gocanto  Yes I would Like, vuejs is awsome !!

[2016-03-17 19:52] gocanto commented on #60
I am figuring my time out to see how I can accomplish this. Anyways, if somebody wants to come aboard, he will be welcome.

[2016-03-18 04:29] protodevsystems commented on #60
+1 yebah!

[2016-03-18 04:33] protodevsystems opened #61 "Demo logins"
Hi I'm trying to utilize the demo before I clone and see if the features match what I need.  Can't seem to access the seller login. Am I just using the wrong URL (http://antvel.com/auth/login) to login? seller@gmail.com / admin doesn't seem to login. It says, "These credentials do not match our records.
"

Thanks guys! BTW beautiful work on this! Keep it up!

[2016-03-18 11:18] mauri870 opened #62 "Is possible to replace the json collumns in migrations for text on old versions of MySQL?"

[2016-03-18 14:25] protodevsystems opened #64 "antVel/Laravel 5.2 errors in composer update/install"
SOLVED:
Originally @ .env:
MAIL_FROMNAME = Antvel - an Laravel eCommerce

Changed to:

MAIL_FROMNAME = "Antvel - an Laravel eCommerce"

seems Laravel 5.2 is not accepting spaces in its .env
Now its ok. FYI guys.

[2016-03-18 14:25] #64 closed

[2016-03-18 15:06] gocanto commented on #61
The seller login is not longer available due somebody messed with the site configuration, posting pornography on it. If you wanna see the ```wpanel``` working, you will have to clone the repo and running locally.

[2016-03-18 15:06] #61 closed

[2016-03-18 15:07] gocanto commented on #62
I dont think so because there are so many queries connected to those Json

[2016-03-18 16:52] protodevsystems opened #66 "Error upon logging in - /auth/login"
@ site.com/auth/login
==================================================
Any ideas on where to debug this one, guys? Thanks! So excited to see the seller page!:)

1/1
BadMethodCallException in Controller.php line 107:
Method [loginPath] does not exist.
in Controller.php line 107
at Controller->__call('loginPath', array()) in AuthController.php line 131
at AuthController->postLogin(object(Request))

[2016-03-18 16:53] protodevsystems commented on #66
I was trying to login as seller@gmail.com / admin..then this happens...

[2016-03-18 17:16] gocanto commented on #66
Just tried this out and it went thru. Trying deleting your vendors and doing an composer install

[2016-03-18 17:31] protodevsystems commented on #66
I deleted the vendor folder then ran: composer install...still same error page upon logging in.. :(

Output from composer install: (seems to be ok here)
sudo composer install
You are running composer with xdebug enabled. This has a major impact on runtime performance. See https://getcomposer.org/xdebug
Loading composer repositories with package information
Installing dependencies (including requir

[2016-03-18 17:34] protodevsystems commented on #66
If it means anything,  I'm running Laravel Homestead VM. All commands were executed in vagrant ssh.

[2016-03-18 17:35] julioserpone commented on #66
Hi @protodevsystems . Thank you very much for trying this project. We are excited about your interest much.

A moment ago, a collaborator, @mauri870, who also is testing this project, detected a problem with the LoginPath function, which is deprecated for version 5.2 laravel.

Please update your local repository and try again.

Thank you

[2016-03-18 17:38] gocanto commented on #66
@protodevsystems I am looking at it to see what the problem can be. Give a little bit of time!

[2016-03-18 17:39] gocanto commented on #66
@protodevsystems can you post your composer.json file?

[2016-03-18 17:41] protodevsystems commented on #66
@julioserpone , would this be the right way to do it?

git pull origin master

[2016-03-18 17:42] gocanto commented on #66
Just tested it again and it went thru
![logged](https://cloud.githubusercontent.com/assets/5246059/13886833/dab2ebba-ed06-11e5-88af-0adefb232ac3.png)

[2016-03-18 17:43] protodevsystems commented on #66
@gocanto :
composer.json file:

`{
	"name": "laravel/laravel",
	"description": "The Laravel Framework.",
	"keywords": ["framework", "laravel"],
	"license": "MIT",
	"type": "project",
	"require": {
		"php": ">=5.5.9",
		"laravel/framework": "5.2.*",
		"laravelcollective/html": "5.2.*",
		"fzaninotto/faker": "^1.5",
		"nicolaslopezj/searchable": "1.*",
		"laravel/socialite": "^2.0",
		"intervention/

[2016-03-18 17:46] protodevsystems commented on #66
@gocanto , just to clarify, I am also able to load the login page but upon entering username: seller@gmail.com, password: admin, recaptha Checked and clicking on SIGN IN TO MY ACCOUNT, the error page shows.

[2016-03-18 17:49] protodevsystems commented on #66
![image](https://cloud.githubusercontent.com/assets/16254005/13886982/81e0f482-ed74-11e5-8a9e-90726a504025.png)

![image](https://cloud.githubusercontent.com/assets/16254005/13887057/cc982ebe-ed74-11e5-97ac-dc9f64c6428f.png)

[2016-03-18 17:52] protodevsystems commented on #66
Sure, for the meantime, I'm trying to update my local repo as @julioserpone  had advised.. will keep you posted!  Thanks so much.

[2016-03-18 17:52] gocanto commented on #66
Why are you running composer as ```sudo```? I don't if that can be a problem, but try to look into it and see whether it is an issue or not.

Also, make sure that you have this update in this file

[code]

[2016-03-18 18:00] mauri870 commented on #66
#63 Same error for me, I fix this on this PR :+1:

[2016-03-18 18:02] protodevsystems commented on #66
BOOM! That did it @gocanto .  And I think that's also what was updated as mentioned by @julioserpone with the repo update.  Now its showing:These credentials do not match our records.
No error, but is seller@gmail.com a valid demo user that can log in?

[2016-03-18 18:03] gocanto commented on #66
@protodevsystems check the migrations & seeders.

[2016-03-18 18:03] #66 closed

[2016-03-18 18:05] gocanto commented on #62
@mauri870 and why do you want to do this?

[2016-03-18 18:14] mauri870 commented on #62
Compatibility @gocanto... MariaDB for example not support the json datatype and MySQL support this natively after version 5.7.8

[2016-03-18 18:16] julioserpone commented on #66
@protodevsystems Try to enter with this credential. seller@antvel.com, password 123456. I hope you work.

[2016-03-18 18:16] gocanto commented on #62
it would be nice tho, but There are so many modules a queries to check after this, dont u think?

[2016-03-18 18:18] mauri870 commented on #62
Yep, many many queries :disappointed:
But is just a question :+1:

[2016-03-18 18:20] gocanto commented on #62
@mauri870 this is the thing. Antvel is working as it is, so we can invest that amount of time doing something else. Also, ```json``` is a MySQL feature now, so I don't see this a good idea!

[2016-03-18 18:24] protodevsystems commented on #66
Thanks @julioserpone . Was going to try your suggestion but I just replaced seller@antvel.com with the hashed password from admin@admin.com's password which I just assumed it was an "admin" password (and it was)...Will take note of the 123456 password though when I re-install after playing around with this one. Im able to login now. Though I'm having error messages during registration now. But wil

[2016-03-18 18:27] mauri870 commented on #62
I agree with you. I thought maybe it was something simple :confused:

[2016-03-18 18:34] mauri870 opened #69 "Implement unit tests"
AntVel is a large project, include many features, transactions, companies, clients sensitive data and no have a way of testing this...
Let's work on the unit tests o/

[2016-03-18 18:36] protodevsystems opened #70 "Error in Registration"
Entered:
First Name: John
Last Name: Smith
Email: protodevsystems@xxxxx.xxx
password: 123456
Clicked on Create My Account, then

Whoops, looks like something went wrong.

2/2
ErrorException in bc9048074ed7f90d449b5bfcdfcfdb4770b161da.php line 13:
Object of class Illuminate\Routing\UrlGenerator could not be converted to string (View: /home/vagrant/Code/proto-store/resources/views/emails/accountVeri

[2016-03-18 18:46] mauri870 commented on #70
Please replace `url()` by `Request::url()` on *resources/views/emails/accountVerification.blade.php* line 13 and see if it works for you

[2016-03-18 18:55] protodevsystems commented on #70
still the same error after replacing in line 13... but it is creating a record in the database for the user.
..and I just noticed there's another url() in line 14, should I replace that too?

[2016-03-18 19:06] protodevsystems opened #71 "Errors in MySQL tables: products, product_details and users (3 tables)"
Is this a migration issue?

In phpMyAdmin, upon clicking the said tables, an error appears (all other tables seem to load fine) except for these 3:

[Ignore All]     [Ignore]

This is the output when [users] table has been clicked: (but it shows the records at the top) this is found at the bottom===>

`Notice in ./libraries/dbi/DBIMysqli.class.php#522
 Undefined offset: 245

Backtrace

./libraries

[2016-03-18 19:16] protodevsystems commented on #70
Tried replacing line 14 also ( url() ==> Request::url()  ), it just changed error.

ErrorException in helpers.php line 523:
htmlentities() expects parameter 1 to be string, object given (View: /home/vagrant/Code/site.com/resources/views/emails/template.blade.php) (View: /home/vagrant/Code/site.com/resources/views/emails/template.blade.php)

[2016-03-18 19:23] protodevsystems commented on #70
`<td align="left">
            <a href="{{ Request::url('/').'/verification/'.md5($data['email'].'_'.$data['_token'].'_'.$data['email']) }}">
                {{ url().'/verification' }}
            </a>
        </td>`

Output:
`ErrorException in bc9048074ed7f90d449b5bfcdfcfdb4770b161da.php line 14:
Object of class Illuminate\Routing\UrlGenerator could not be converted to string (View: /home/vagran

[2016-03-18 19:31] protodevsystems commented on #70
<td align="left">
            <a href="{{ url('/').'/verification/'.md5($data['email'].'_'.$data['_token'].'_'.$data['email']) }}">
                {{ url('/').'/verification' }}
            </a>
        </td>

Output:
`ErrorException in helpers.php line 523:
htmlentities() expects parameter 1 to be string, object given (View: /home/vagrant/Code/site.com/resources/views/emails/template.blade.php)

[2016-03-18 19:31] #62 closed

[2016-03-18 19:32] gocanto commented on #71
No. Are you using homestead tho?

[2016-03-18 19:34] gocanto commented on #70
working on this

[2016-03-18 19:35] protodevsystems commented on #71
yep, homestead.

here's the screenshot:
![image](https://cloud.githubusercontent.com/assets/16254005/13889828/99c33ed4-ed83-11e5-8a89-0260c1a53c7b.png)

[2016-03-18 20:34] #70 closed

[2016-03-18 20:38] gocanto commented on #71
it seems to be a mysql problem, instead a antvel one. I suggest you to check your server configuration and try it again.

[2016-03-18 20:38] #71 closed

[2016-03-18 21:47] protodevsystems commented on #71
will do. thanks for the advise as always.

[2016-03-18 22:19] protodevsystems opened #74 "Item Search bug"
type any keyword on the search bar, hit enter (or press the magnifier), then this happens:

QueryException in Connection.php line 669:
SQLSTATE[HY093]: Invalid parameter number (SQL: select count(*) as aggregate from (select `products`.*, max((case when LOWER(`name`) LIKE freeproduct then 1500 else 0 end) + (case when LOWER(`name`) LIKE 1 then 500 else 0 end) + (case when LOWER(`name`) LIKE 0 then

[2016-03-19 04:59] protodevsystems opened #75 "Is antvel multi-vendor?"
As i saw in the database structure, sellers have "business" roles, so I'm guessing the answer is yes, that it can create multiple business roles. If it is a "yes", how can I add a business account and another admin account? what page do I go to? Thanks guys! Looking good so far!:)

[2016-03-19 16:16] gocanto commented on #75
yes, it is multi-stores

[2016-03-19 16:16] #75 closed

[2016-03-19 16:55] #74 closed

[2016-03-20 06:31] protodevsystems opened #77 "Send a email error and other typos"
1. Send an Email button (URL:  site.com/contact) when clicked:
ErrorException in Factory.php line 564:
Cannot end a section without first starting one. (View: /home/vagrant/Code/site/resources/views/about/contact.blade.php)

2. Also, minor issue:
typo "a" => "an"
Send an Email

3. Another typo under social footer Gloogle+ => Google+

[2016-03-20 07:12] protodevsystems opened #78 "Crumbs / Your Shopping Cart link error"
Repro: Your Account menu -> Address Book, then click on the crumb "Your Shopping Cart"
![image](https://cloud.githubusercontent.com/assets/16254005/13903245/05a46cd8-eeae-11e5-9828-ab10f7a52d53.png)

ErrorException in 2a1e84afca3d9529a8ef030412933a1c96821611.php line 83:
Invalid argument supplied for foreach() (View: /home/vagrant/Code/site/resources/views/orders/cart.blade.php)

I guess this is a

[2016-03-20 07:25] protodevsystems opened #79 "[Use this address] button error"
URL @ site.com/user/orders/checkOut/address/12

ErrorException in UrlGenerationException.php line 17:
Missing required parameters for [Route: orders.check_out_address] [URI: user/orders/checkOut/address/{addressId}]. (View: /home/vagrant/Code/site/resources/views/orders/cart.blade.php)

Repro: add item to cart, checkout, add address (save&continue), use this address button

![image](https://cloud.

[2016-03-20 07:56] protodevsystems opened #80 "Cancel Order error"
@ URL: site.com/user/orders

ErrorException in helpers.php line 523:
htmlentities() expects parameter 1 to be string, array given (View: /home/vagrant/Code/site/resources/views/partial/message.blade.php) (View: /home/vagrant/Code/site/resources/views/partial/message.blade.php)

Repro as a seller: your sales, click a record under Open Order, then click Cancel Order button
(URL: store.dev/user/order

[2016-03-20 15:38] protodevsystems opened #81 "Help | Contact Us! error"
repro: click on Help menu, Contact Us! option, then this,

ErrorException in Factory.php line 564:
Cannot end a section without first starting one. (View: /home/vagrant/Code/proto-store/resources/views/about/contact.blade.php)

[2016-03-21 16:10] protodevsystems opened #83 "Items Added to Wishlist only goes to Default Wishlist"
I created another Wishlist List (e.g. Birthday Gift Ideas), selected an item, clicked on (Heart) icon, it goes directly to Default Wishlist.

If I understand it correctly, the feature of having multiple-named wishlists would allow you to organize your items by those lists (a great feature by the way), bookmarking items, and not yet buying them yet.

(Heart) button => if the system detects that the

[2016-03-21 16:52] protodevsystems commented on #77
for #3, found the resources\lang\en\globals.php
line #250:

  'google_label'           => 'Gloogle+',

changed to:
  'google_label'           => 'Google+',

[2016-03-21 16:55] protodevsystems commented on #77
for #2, found the resources\lang\en\globals.php
line #293:

'send_a_email_label'     => 'Send a email',

changed to:
'send_a_email_label'     => 'Send an email',

[2016-03-21 18:00] #77 closed

[2016-03-21 18:26] gocanto opened #85 "Slack Channel"
I am creating this issue to let you all know that I created a new repository to keep the ```Antvel``` discussion and improvements separated from this repo. This to keep the project development as organised as we can.

Repo link: https://github.com/ant-vel/Discussion

Also, there is a slack channel where we can talk about ideas, bugs or new features to be added in this project. Feel free to drop yo

[2016-03-21 18:36] gocanto commented on #78
Hey there!

I checked this issue out, but was not able to reproduce the error. In fact, antvel showed the validation message to control this matter. You can see this in the picture attached to this comment.

However, you can provide more information related to this, so I can go deeper and resolve your problem.

Thanks for testing!

[2016-03-21 19:00] mauri870 commented on #81
@protodevsystems I think this error is because the `@stop` statement in some cases like @section('foo')@stop in some cases, the correct is replace the @stop for the @endsection... But for me the contact page works fine... Please try clear your compiled views and test again

[2016-03-21 19:01] gocanto commented on #81
this was fixed in this commit https://github.com/ant-vel/antVel/commit/1dae9ef52acf6aa8fef44cc4bfe4a832c8f857ca

[2016-03-21 19:01] #81 closed

[2016-03-21 19:42] #79 closed

[2016-03-21 22:55] #80 closed

[2016-03-21 22:58] #78 closed

[2016-03-21 23:15] #60 closed

[2016-03-21 23:15] #69 closed

[2016-03-21 23:26] protodevsystems opened #89 "[Place your order] button error"
![image](https://cloud.githubusercontent.com/assets/16254005/13937369/45cf1310-efff-11e5-9045-d65ce79d9300.png)

ErrorException in 035387d41df3e97430efb407419a19b8f00b7e9e.php line 18:
Object of class Illuminate\Routing\UrlGenerator could not be converted to string (View: /home/vagrant/Code/proto-store/resources/views/emails/neworder.blade.php)

repro: make sure cart is empty, add one item, procee

[2016-03-21 23:28] protodevsystems commented on #81
Yap, you are both correct. This is fixed.

[2016-03-22 00:18] protodevsystems opened #90 "Something's wrong with the Left Side bar"
Squeezed? or Indented to the Right? Here's some screenshots...

![image](https://cloud.githubusercontent.com/assets/16254005/13938188/5d40471a-f006-11e5-934f-ff487a5fe843.png)

![image](https://cloud.githubusercontent.com/assets/16254005/13938210/8b97c502-f006-11e5-923b-e25d07f2f218.png)

[2016-03-22 00:26] gocanto commented on #90
This is not a bug.If you want to communicate some ideas or improvements, you can post them here: https://github.com/ant-vel/Discussion

taking on account that you could be willing to develop them.

Thanks for testing!

[2016-03-22 00:26] #90 closed

[2016-03-22 00:28] gocanto commented on #89
this was fixed in this commit https://github.com/ant-vel/antVel/commit/f378638a2751dfe533097d40e6e8a7d83891c0cc

Please, feel free fo keep up on our commits before posting issues.

thanks for testing!

[2016-03-22 00:28] #89 closed

[2016-03-22 00:31] protodevsystems commented on #90
I thought it was because previously before the recent commits, it shows up fine, aligned to left together with the headers.. anyway, i'll take a look at the codes later and see if I could find where to adjust the width.:) Thanks Gustavo, as always. Will be posting it later at the Discussion page.

[2016-03-22 00:36] protodevsystems commented on #90
Sorry Gustavo, my bad. Was playing around with the CSS.... i accidentally left the margin-left to 90px... thinking the nav bar would only be affected. It seems the left side bar was also affected.... Just clarifying this as a non-bug.. You're right. Apologies.

[2016-03-22 00:37] gocanto commented on #90
keep in mind that ***antvel*** uses ```bootstrap``` to control the styles and resolutions in devices!

[2016-03-22 00:42] protodevsystems commented on #90
Copy that, G! Thanks!  Where do you prefer having custom css be at? Right now, I'm just overriding app.css at the bottom section. Would that be ok or there's a better way for this?

[2016-03-22 00:45] gocanto commented on #90
I really recommend to you learning ```less css```, ```gulp``` >>> https://github.com/ant-vel/antVel/blob/master/gulpfile.js, and all the new tools because it seems like you are new in this!

[2016-03-22 00:49] protodevsystems commented on #90
Thanks for the guide. I am new in Laravel and its components... But had years of experience in non-standardized non-frameworked PHP... So yeah, I'm still digging in this new framework, and so far i love the way it is structured and organized. so LESS CSS and GULP it is....

[2016-03-22 00:50] gocanto commented on #90
https://laravel.com/docs/5.2/elixir

[2016-04-01 14:10] cakeph opened #92 "when i m going to php artisan migrate encounter an error"
when i m going to php artisan migrate encounter an error

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'antvel.products' doesn't exist (SQL: select `id`, `name`, `description`, `features`, `price`, `type`, `stock` from `products` where `type` <> freeproduct order by `rate_count` desc, `rate_val` desc limit 4)

[2016-04-01 15:51] gocanto opened #93 "Notify message repeated"
When flashing notify messages to the session, the message are showed duplicated

[2016-04-01 21:31] #83 closed

[2016-04-09 01:30] aghict opened #100 "Demo not work?"
Hello,
Login data for demo usage not work for me.

[2016-04-09 03:29] gocanto commented on #100
The admin user is not on because there was an user who messed the store posting porn on it.

[2016-04-09 03:29] #100 closed

[2016-04-13 16:56] napestershine opened #101 "not able to run migrate commands"
HI I am trying to install but getting following error:
![hbk](https://cloud.githubusercontent.com/assets/8603325/14502004/ceff327c-01c6-11e6-9da8-25b2455de7c8.PNG)

[2016-04-13 16:58] napestershine commented on #101
Why is it looking for mariadb?

[2016-04-13 16:59] gocanto commented on #101
check this issue https://github.com/ant-vel/antVel/issues/71

if it does not help, post your .env file to look at it

[2016-04-14 06:13] zngduong commented on #101
Can you check version Database support JSON?

[2016-04-14 16:25] gocanto commented on #101
I am using the last version of Homestead.

that is why I dont have that problem

[2016-04-14 19:52] napestershine commented on #101
Hi

Thanks so much for consideration. I am so sorry for delay in response.

I don't know much about it. I have xampp running on my system and I simply run it on localhost in windows. All apps of Laravel and Symfony works fine, only this one showing mariaDB issue.

I am attaching my .env file and config file of db also in gists.
**.env**
https://gist.github.com/napestershine/94478cc0c9a9be6ce68c6d9

[2016-04-14 20:30] gocanto commented on #101
I just ran this command **vagrant@homestead:~/Code/antvel$ php artisan migrate:refresh --seed ** in my homestead terminal and this was the output:

[code]

------
To guide you I just can address it with my settings, which are:

[code]

If you can, post your config.php file

[2016-04-14 20:35] gocanto commented on #101
6 Reasons to Move to Laravel Homestead

http://www.sitepoint.com/6-reasons-move-laravel-homestead/

[2016-04-14 20:35] #101 closed

[2016-04-24 06:30] taibaiyifeng opened #107 "[Illuminate\Database\QueryException] SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax;"
after use php artisan migrate.it have one error like below. my enviroment is debian linux.mysql5.5.47
 [Illuminate\Database\QueryException]
  SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL ser
  ver version for the right syntax to use near 'json null, `remember_token` varchar(100) null, `created_at` time

[2016-04-24 15:56] gocanto commented on #107
Hello there,

I have been having people with the same issue these days, and sadly, I dont have linux to test this out. if it helps, this is the homestead version I use

https://laravel-news.com/2015/11/laravel-homestead-now-with-mysql-5-7-and-node-5-0/

keep me posted!

[2016-05-01 05:13] napestershine commented on #107
@taibaiyifeng  this issue will resolve if you update your mysql version 5.5.X to 5.7.x.

That's it.

[2016-05-02 01:26] taibaiyifeng commented on #107
Thank you.I will do this.

[2016-05-02 01:27] gocanto commented on #107
Thanks

[2016-05-02 01:27] #107 closed

[2016-05-05 12:24] deepesh08 opened #110 "Migration table not found."
php artisan migrate:refresh
Migration table not found.
Migration table created successfully.

  [Illuminate\Database\QueryException]
  SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error i
  n your SQL syntax; check the manual that corresponds to your MariaDB server
   version for the right syntax to use near 'json null, `remember_token` varc
  har(100) null, `created_at` tim

[2016-05-05 13:14] deepesh08 opened #111 "php artisan migrate:refresh error"
php artisan migrate:refresh
Rolled back: 2015_03_12_210054_create_categories_table
Rolled back: 2015_03_12_204126_create_addresses_table
Rolled back: 2015_03_11_203023_create_businesses_table
Rolled back: 2015_03_11_200446_create_persons_table
Rolled back: 2015_03_10_203321_create_type_preferences_table
Rolled back: 2014_10_12_100000_create_password_resets_table
Rolled back: 2014_10_12_000000_crea

[2016-05-05 16:19] protodevsystems commented on #93
any updates on this G?

[2016-05-05 16:21] gocanto commented on #93
I have not had chance to looke into it yet. PR are welcome.

[2016-05-05 16:22] gocanto commented on #110
There are varius bugs related to this issue. Also, there has been some users posting its fixed. Have you checked the closed issue yet?

[2016-05-05 20:12] gocanto commented on #110
Duplicated.

See https://github.com/ant-vel/antVel/issues/107

[2016-05-05 20:12] #110 closed

[2016-05-05 20:12] gocanto commented on #111
Duplicated.

see: https://github.com/ant-vel/antVel/issues/107

[2016-05-05 20:12] #111 closed

[2016-05-06 07:32] it9xpro opened #115 "fix xampp"
![fix](https://cloud.githubusercontent.com/assets/6617916/15066966/5afbe914-1397-11e6-8d45-a49369275dcb.png)

[2016-05-06 07:42] zngduong commented on #115
check your data base version support JSON yet?

[2016-05-06 09:17] it9xpro commented on #115
i am using xampp v3.2.2  mysql Server type: MariaDB
Server version: 10.1.10-MariaDB - mariadb.org binary distribution

[2016-05-06 15:18] gocanto commented on #115
Make sure your db version support ```JSON``` format, otherwise, you can either change the type to ```string``` or get the version updated

[2016-05-06 15:18] #115 closed

[2016-05-09 12:26] zaisahil opened #116 "Error"
I am getting an error while executing:

**php artisan migrate:refresh**

Please see the screenshot for details.

Your urgent help will be highly appreciated.

-Saeed
![screencapture](https://cloud.githubusercontent.com/assets/13915739/15112988/874c08d0-15a6-11e6-9040-8754529c4328.png)

[2016-05-09 16:33] gocanto commented on #116
Duplicated on https://github.com/ant-vel/antVel/issues/107

[2016-05-09 16:33] #116 closed

[2016-05-10 08:52] angelorc opened #117 "Bug php artisan migrate:refresh"
Hi,
I tried to install antvel but when I run php artisan migrate:refresh I get this error:

 [Illuminate\Database\QueryException]
  SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'json null
  , `remember_token` varchar(100) null, `created_at` timestamp null

[2016-05-12 08:09] hungtqno1 commented on #117
metoo

[2016-05-12 12:59] gocanto commented on #117
Update your mysql version

[2016-05-12 12:59] #117 closed

[2016-05-12 14:51] angelorc commented on #117
Server version: 5.6.30-0ubuntu0.15.10.1 (Ubuntu)

[2016-05-12 14:58] hungtqno1 commented on #117
Hi gustavo ocanto,

my Mysql version is 10.1.13. Should i install what version of mysql?

2016-05-12 19:59 GMT+07:00 Gustavo Ocanto <notifications@github.com>:

--
Thanks and Best Regards,
Kieu Viet Hung (Mr)
Ngõ 1, Bùi Xương Trạch, Thanh Xuân, Hà Nội
Mobile: (+84) 1278039329
Skype: hungtqno1

[2016-05-12 15:04] gocanto commented on #117
https://github.com/ant-vel/antVel/issues/107

[2016-05-22 00:28] mohamed3ali opened #118 "No multi language support"
Hello,

I'm actually developing a multi language eCommerce website, i was looking for existing solution based on laravel to get inspired how i could manage internationalization aspect, witch i find the most delicate. From all the projects i've seen , yours is the most complete but i still can't figur out how did you manage multi-language in your code, maybe i missed where it's implemented.

the be

[2016-05-22 15:14] gocanto commented on #118
The multi-language is managed by Laravel, but you are right. There is not code to control that and set the site to work with related files. However, we can work together and have this e-commerce more complete.

[2016-05-24 00:03] mohamed3ali commented on #118
i was aware of the multi-language capabilities of laravel, but this doesn't include managing dynamic content like as products names and descriptions that should be added my end-users.

Any way i appreciate the way you managed your code. Actually i'm working on a customized store, i'll be glade to share the multi-language part once done.

[2016-05-24 15:48] gocanto commented on #118
Actually, I am working on the core of this store and making kind of an API out of it.. it would be nice how you approach that

[2016-05-24 15:48] #118 closed

[2016-06-21 16:32] gocanto opened #137 "Looking for Developer"
Hi,

I am looking for a developer who wants to jump in and help me out to do some refactoring. If you are interesting on it, shoot me a email.

Thanks,

[2016-06-23 16:58] mirago opened #138 "Admin demo"
Is there a working demo of admin side? The details from the readme are not working.

[2016-06-24 07:42] riverrun46 opened #139 "Is this a typo?"
In app\Order.php, line 19

[code]

It should be App\Address instead of App\UserAddress, or am I missing sth?

[2016-06-24 10:06] napestershine opened #140 "Change Currency"
Hi

I am trying to change current default currency of USD to INR. Where can I do it?

Thanks

[2016-06-24 14:49] gocanto commented on #139
it must be. is it throwing an error on you?

[2016-06-24 14:50] gocanto commented on #140
there is not multi-currency support done yet

[2016-06-24 14:50] #140 closed

[2016-06-24 18:56] riverrun46 commented on #139
actually no errors so far, but I think that is a typo when you're going through the "FreeProducts" stuff...

[code]

[2016-06-24 19:45] gocanto commented on #139
you wanna send the PR?

[2016-06-25 06:02] napestershine commented on #140
Just for an information. If anyone want to change currency they can change at config/app.php

assign a value as per PHP manual to the array key LC_MONETARY.

Thanks :+1:

[2016-06-25 14:57] TsenkoTsenov opened #141 "Enter new adress problem"
Hello i was testing the checkout feature( also in the profile menu ), when i click on the _enter a new adress_ button  nothing happens it just stays on the same page.

Checked the console its giving this:

[2016-06-25 15:19] gocanto commented on #141
Can you post a picture and point me out better, so I could fix this right away

[2016-06-25 15:29] TsenkoTsenov commented on #141
![1](https://cloud.githubusercontent.com/assets/12273257/16357545/4d90451c-3b02-11e6-8e66-48fb109762dc.png)
When clicked nothing happens

[2016-06-25 16:31] gocanto commented on #141
ok, let me take a look at it

[2016-06-25 17:20] gocanto commented on #141
I tested the site locally and it worked fine. Anyways, I did a little fix in some js depreciation functions. Maybe, it can help with your problem. https://github.com/ant-vel/antVel/pull/144

[2016-06-25 17:20] #141 closed

[2016-06-25 19:46] gocanto commented on #139
Fixed https://github.com/ant-vel/antVel/pull/145

[2016-06-25 19:46] #139 closed

[2016-06-25 20:25] TsenkoTsenov commented on #141
Yes, Its working now!

[2016-06-25 22:20] TsenkoTsenov opened #148 ""Your sales" and ''New Product" Issue"
Hey, so i was lurking a bit through the seller account and found two issues.
When i try to see _'My Sales'_ it gives me _'Trying to get property of non-object'_ exception.

![firstissue](https://cloud.githubusercontent.com/assets/12273257/16359391/a80627da-3b3b-11e6-8ef7-d532b7a43eea.png)

And when i tried to make new product got this:
![123](https://cloud.githubusercontent.com/assets/12273257/163

[2016-06-25 23:27] TsenkoTsenov commented on #71
With the newest release of phpmyadmin this is fixed. ( Got the same problem )

[2016-06-25 23:38] TsenkoTsenov commented on #101
You need MySQL 5.7 because it supports JSON, the latest version of xampp does not provide mysql 5.7 ( either you have to upgrade manually or go with wamp )

[2016-06-27 07:25] riverrun46 commented on #148
pulling request #149

[2016-06-27 10:51] TsenkoTsenov commented on #148
Hey applied your code changes, everything worked out great with 'Your Orders' Issue!
But got some different error for the 'New Product' :/
![3](https://cloud.githubusercontent.com/assets/12273257/16377342/1dd62996-3c6e-11e6-9f69-7b106b093ab6.png)

[2016-06-27 14:55] gocanto commented on #148
Let me take a look at and check if everything is working smoothly right now

[2016-06-27 17:40] #148 closed

[2016-06-27 17:43] #137 closed

[2016-06-27 20:35] TsenkoTsenov opened #156 "Strange issue while making new product"
Hey so, when i tried to create new product got this:
![4](https://cloud.githubusercontent.com/assets/12273257/16394512/4a0082d2-3cbe-11e6-9f16-68a4d6a42325.png)
So i opened the editor played for a while and after changing this block of code:
![6](https://cloud.githubusercontent.com/assets/12273257/16394523/5ac7f316-3cbe-11e6-9122-d093436df1d2.png)
_( The strange thing is that this key/value pair s

[2016-06-27 20:37] gocanto commented on #156
well, this is very wired because I just tested it and i worked fine locally.. I ll give it a look

[2016-06-27 21:08] TsenkoTsenov commented on #156
Hey i forgot to say that this second _foreach_ that i applied works ONLY when creating new products, but when i go in catalog and try to see some product it breaks to this:
![6](https://cloud.githubusercontent.com/assets/12273257/16395655/bf1f4616-3cc3-11e6-9544-030adfc8e721.png)]

[2016-06-27 21:13] TsenkoTsenov commented on #156
Actually with this second foreach i can browse and see only products created by the seller account ( not seeded )

[2016-06-28 02:50] riverrun46 commented on #156
This is because each feature is assumed to return a string, but instead it returns a array like this:
`Dimensions: ['blablabla', '']`

I think the problem is in function _validateFeatures()_, which is called when storing or updating a product.

[code]
Notice the if statement in the first line is like `if ($row['help_message'] != '')`, but the _help_message_ column of each productdetails is actuall

[2016-06-28 10:31] beshambher opened #157 "What is wrong with the registration?"
![image](https://cloud.githubusercontent.com/assets/18172011/16412345/709436c4-3d49-11e6-90da-36f4cc490243.png)

[2016-06-28 11:02] TsenkoTsenov commented on #157
Locally this field 'birthday' does not even exist in users table, i guess is some test or something. ( Try to make account in you local project )

[2016-06-28 14:39] gocanto commented on #157
I will do a deed check because for some reason everything is bad. Those erros are not in the demo page and I need to find out what's goong on

[2016-06-28 14:39] gocanto commented on #156
I will do a deed check because for some reason everything is bad. Those erros are not in the demo page and I need to find out what's goong on

[2016-06-28 15:03] gocanto commented on #157
Can you point me out in the process you followed because I am testing this in my local machine and everything works

[2016-06-28 15:19] gocanto commented on #156
I just merged a fix for this issue to ```development``` branch. Please, check if resolved your problem.

Commit: https://github.com/ant-vel/antVel/commit/044dad27baaeeb3d55d3a1e9dd4d71a65fa02c8c

thanks for testing!

[2016-06-28 18:31] TsenkoTsenov commented on #156
Yes, it works great now!

[2016-06-28 18:33] #156 closed

[2016-06-28 18:38] TsenkoTsenov commented on #157
I have the same issue when trying to create account on your hosted antvel site, but on my local everything works fine.

[2016-06-28 19:33] gocanto commented on #157
fixed https://github.com/ant-vel/antVel/commit/32948ab27a6a93c1d0254ae33cd8fccc8551b842

thanks for testing!

[2016-06-28 19:33] #157 closed

[2016-06-28 19:42] anandat opened #162 "css style"
css not work for me??

[2016-06-28 20:34] gocanto commented on #162
can you be more specific?

I haven't had any issues with it

[2016-06-29 14:52] gocanto commented on #162
did you run ```bower install``` ?

[2016-06-29 18:35] anandat commented on #162
oh sorry i forget !! thnx

[2016-06-29 18:35] #162 closed

[2016-06-29 18:40] #85 closed

[2016-06-29 19:57] anandat opened #163 "recaptcha"
recaptcha not working for me

[2016-06-29 19:58] anandat commented on #163
![image](https://cloud.githubusercontent.com/assets/19904520/16466740/e816a9c0-3e61-11e6-9ec3-d62dd2c8cb79.png)

[2016-06-29 19:58] anandat commented on #163
![image](https://cloud.githubusercontent.com/assets/19904520/16466762/fe89f2ac-3e61-11e6-8347-5dc82e879762.png)

[2016-06-29 20:00] gocanto commented on #163
you have to check your own key

and update ```RECAPTCHA_PUBLIC_KEY ``` and ```RECAPTCHA_PRIVATE_KEY ``` on https://github.com/ant-vel/antVel/blob/development/.env-example#L32

[2016-06-29 20:00] #163 closed

[2016-06-29 20:06] anandat commented on #163
not understand

[2016-06-29 20:06] gocanto commented on #163
https://www.google.com/recaptcha/intro/index.html

[2016-06-30 08:43] anandat opened #164 "place order error"
http://localhost:8000/user/orders/placeOrder/cart

![image](https://cloud.githubusercontent.com/assets/19904520/16482211/6244a8f4-3ecc-11e6-8772-8cf6d89830fe.png)

n error in auth/register
registration got successfully but after that
![image](https://cloud.githubusercontent.com/assets/19904520/16482307/d5a85b88-3ecc-11e6-9c79-98fcebd070c4.png)

[2016-06-30 11:03] gocanto commented on #164
Chech ur env file

[2016-06-30 11:03] #164 closed

[2016-06-30 18:04] anandat commented on #164
thnx
and what about this... why image not loading?
![image](https://cloud.githubusercontent.com/assets/19904520/16498802/20e97cf0-3f1b-11e6-8e97-37ebf74a18a0.png)

[2016-06-30 18:18] gocanto commented on #164
I really encorage you to check the code and see how it works. Thanks for testing!

[2016-06-30 18:19] anandat commented on #164
ok :1234:

[2016-07-04 13:03] TsenkoTsenov opened #165 ""Wish list" Issue"
Hey! So i was browsing the wish list feature and got something strange.
Added an item to the wish list and after clicked the 'Move to cart"
![1](https://cloud.githubusercontent.com/assets/12273257/16561194/85eb210c-4200-11e6-89b2-eadcb867066d.png)
I got this:
![2](https://cloud.githubusercontent.com/assets/12273257/16561208/9a7f4472-4200-11e6-926e-70a5398633df.png)
But then when i went back and re

[2016-07-06 19:58] gocanto commented on #165
I can't reproduce the error

[2016-07-07 08:25] TsenkoTsenov commented on #165
Hey, sorry about this, for me it happens only with the seeded products, but when i create my own product everything works fine. I guess you can close the issue if you want. Sorry.

[2016-07-07 16:17] #165 closed

[2016-07-08 11:04] TsenkoTsenov opened #166 "The last issue i found - Password reset issue"
Hello, so i think i got through all the features. I got only problem with the password reset.
Locally when i try to password reset:
![12](https://cloud.githubusercontent.com/assets/12273257/16685567/a1ba1246-4514-11e6-88fd-042b44b1b6ac.png)
Right after clicking "Password Reset" it pops out this one:
![212](https://cloud.githubusercontent.com/assets/12273257/16685574/aa08201e-4514-11e6-8321-cab859c

[2016-07-08 11:55] TsenkoTsenov commented on #166
Oh okay, found the solution to the both issues. Created new folder named "emails" in views/auth/ and moved password.blade.php ( previously located in views/emails ) to it. Then removed "MARKEDFORDELETION" thing in reset.blade.php located in "views/auth"  and it worked.

[2016-07-08 15:46] gocanto commented on #166
I gotta take a look at it.. I have been busy latelly tho

On 7/8/16, Tsenko Tsenov <notifications@github.com> wrote:

--

*Antes de imprimir este e-mail piense bien si es necesario hacerlo, cuida
tu ambiente.*

*NOTA CONFIDENCIAL: La información contenida en este E-mail es confidencial
y sólo puede ser utilizada por la persona o la compañía a la cual está
dirigido y/o por el emisor. Si no es el re

[2016-07-14 00:53] Artessan opened #177 "Session problem, in many actions"
In to many actions like add product to cart from wishlist, delete from shoping cart, update profile, cancel order the session close and redirect to login, after login againthe actions is done, but almost all the time redirect to login before.

[2016-07-14 00:55] Artessan opened #178 "Notifications don't show on home"
after login the new notifications aren't show in the navbar, if logout and relogin they apears

[2016-07-14 00:59] Artessan opened #179 "After update profile info, login problem"
After update the profile info (nickname) the login doesn't work, problem with credentials

[2016-07-14 01:03] Artessan opened #180 "undefined constant id, in order details"
if like seller i try to see the orders details show  an error in some undefined constant id

[2016-07-14 01:07] Artessan opened #181 "Htmlentities expect string array given,"
updating a product and adding a product group a Htmlentities expect string array given, show.
other thing is that some product groups appears automatic in the list after adding other one

[2016-07-14 01:10] Artessan opened #182 "updating a product the images cann`t be deleted"
if a try to delete a image when i update my product this image don't  disappear and is not deleted

[2016-07-14 01:13] Artessan opened #183 "If I like seller see my products details I still see shopping options"
when i see  my products details like seller I still see the shopping options and can add my products to my shoping cart

[2016-07-29 09:06] beshambher commented on #166
Yes I'm having the same issue the problem is with the view it send to the user in email. I have password.blade in views/emails/ which holds the password reset link but it cannot be used in the Mail that is sent to the user instead of that it is sending views/auth/reset.blade in the mail.

[2016-07-29 09:12] beshambher commented on #166
If you want some help in removing bugs from AntVel then I can help u in back-end part but I don't know anything about Angular JS.

[2016-07-29 12:38] gocanto commented on #166
Yes please, i need help. PR are very welcome

[2016-07-29 14:46] gocanto commented on #166
Btw, I am waiting on Lravel 5.3 because I think the best way to go is rewriting!

[2016-08-01 13:24] beshambher commented on #166
No need to re-write, it will take forever. Debugging the existing code is fine.

[2016-08-01 15:45] gocanto commented on #166
Checking these bugs is taking me forever. I need help! when I wrote this project I had a lot of time, fact that is not the same now 👎

[2016-08-02 14:10] beshambher commented on #166
Ohh then what you suggest now?

[2016-08-02 20:41] gocanto commented on #166
I am planning whit a little group the bugs checking and the backend rewritting, so whoever wants to jomp in should drop his email in here!

[2016-08-03 07:34] beshambher commented on #166
here bishamberc@gmail.com

[2016-08-03 08:38] saadj55 commented on #166
add me saadj55@gmail.com

[2016-08-03 13:52] gocanto commented on #166
I will be adding you all in the antvel slack channel today. Thanks a lot

[2016-08-08 15:11] gocanto commented on #166
I had texted you in slack and haven't get any response from you all at all

[2016-08-09 05:17] beshambher commented on #166
Sorry I thought I'll get a mail also from stack as notifications so sorry.

[2016-08-29 18:05] MCON commented on #107
well, with mysql 5.6 i have the same error.

[2016-08-30 00:04] napestershine commented on #107
@MCON  Please install MySQL 5.7.x.

[2016-08-30 09:31] napestershine commented on #166
napestershine@gmail.com add me

[2016-09-01 02:01] hengsoheak opened #194 "error when I used php artisan migrate:refresh"
[Illuminate\Database\QueryException]
  SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'json null, `remember_token` varchar(100) null, `created_at` time
  stamp null, `upd' at line 1 (SQL: create table `users` (`id` int unsigned not null auto_increment prima

[2016-09-01 02:04] gocanto commented on #194
Duplicated https://github.com/ant-vel/antVel/issues/111

[2016-09-01 02:04] #194 closed

[2016-09-02 19:18] gocanto commented on #166
Fixed on #195

[2016-09-02 19:18] #166 closed

[2016-09-02 19:24] gocanto commented on #177
I could not reproduce this issue.

[2016-09-02 19:24] #177 closed

[2016-09-02 19:25] gocanto commented on #178
I was fixed out with the update to laravel 5.3

[2016-09-02 19:25] #178 closed

[2016-09-02 19:26] gocanto commented on #179
it works just with email for now

[2016-09-02 19:26] #179 closed

[2016-09-02 19:43] #183 closed

[2016-09-02 19:48] #93 closed

[2016-09-15 13:42] huseyinerbayat opened #200 "Migration issue"
When I run command "php artisan migrate",  it is giving an error
![error](https://cloud.githubusercontent.com/assets/9267964/18551996/6a8f7db2-7b63-11e6-8a36-5a0d2f3b5533.png)

[2016-09-15 14:04] gocanto commented on #200
Duplicated in #107

[2016-09-15 14:04] #200 closed

[2016-09-16 14:20] huseyinerbayat commented on #162
I run command "bower ,install",
there is an error
Command "bower" is not defined.

[2016-09-16 14:25] Artessan commented on #162
hey @huseyinerbayat do you have bower installed in your pc? if not, you can check this https://bower.io

[2016-09-16 14:43] huseyinerbayat commented on #162
@Artessan thanks

[2016-09-16 15:03] Artessan commented on #162
you welcome

[2016-09-16 15:38] gocanto commented on #162
Let us know if you have any other issue. Thanks @artessan for ur support!

[2016-09-23 20:13] guestisp opened #201 "Admin area login"
The auth data wrote in readme doesn't allow to login

[2016-09-23 20:19] gocanto commented on #201
it won't work because I had a user who converted the demo in a porn site! This is not an issue!

[2016-09-23 20:19] #201 closed

[2016-09-23 21:02] guestisp commented on #201
So, having a non working website is not an issue?
Good to know.

[2016-09-27 06:07] zb08060806 commented on #180
me too ,  After landing problems disappear

[2016-09-27 13:15] gocanto commented on #180
Can you post the error please?  I will check it in a bit

[2016-10-17 15:33] BonBonSlick opened #202 "Bugs with: LogIn / Register / Add to Cart / Like Product / Show Product / WishList ....."
--- When press **add to cart or like product / wishlist / your wishlist / ** i have this error:
FatalErrorException in Handler.php line 135:
Call to undefined method App\Exceptions\Handler::unauthenticated()
in Handler.php line 135

-- When clicking on product ( thumbnail / name link / or button link to see more info ):
ErrorException in 435dc909906be573862abbd30f4fdf4ff352d505.php line 139:
Tryin

[2016-10-17 15:34] gocanto commented on #202
what other bugs? can u be more clear?

thanks

[2016-10-17 16:04] BonBonSlick commented on #202
I have done all as it said. So, i have web site, working Data Base, .env is seems to be okay. Captcha and map connected.  Also, i am using Windows 7/ OpenServer ( PhP 5.6 - MySQL 5.7, Apache 2.4, bower and other dependencies installed ).
Every feature i found, will use ---

**--- click 'Add to cart' button ( where it is ).**
FatalErrorException in Handler.php line 135:
Call to undefined method App

[2016-10-17 16:06] gocanto commented on #202
Ok thanks, I will look into it

[2016-10-17 19:58] Artessan commented on #202
The problem is the authentication, for add product to cart or wishlist is required be authenticated, the bottons need to be disabled or invisible for not authenticated users.

[2016-10-18 10:36] BonBonSlick commented on #202
I know, but for common users maybe author should add some redirect, or error message. Also, adminpanel, we cant manage our site, add / delete / edit - users / products / categories and roles.

[2016-10-18 13:41] Artessan commented on #202
Of course in the future is comtemplated add an admin area for manager all this things.

[2016-10-18 13:50] gocanto commented on #202
We are working on the ecommerce refactoring. We are gonna get look into this bugs in order for all of you can use the site as it is. New features, validation, etc will be shipped whithin the new version.

Again, thanks for testing.

[2016-10-18 19:07] gocanto commented on #202
Fixed on PR #204 by @Artessan

Let us know how it goes

[2016-10-18 19:07] #202 closed

[2016-10-23 12:47] BonBonSlick commented on #202
Ok, i have checked, and found again couple bugs. ( cleared all cache, created new DB, folder, generally started as new project ).

**---=== I logged when captcha check failed, or even not checked.**

**---=== I there is no such user, i have got laravel error page in Countroller...**:

**---=== Also, when i clicked aye to see product i have:**
ErrorException in f1b922fe9942d15a44de32dd6886e4bfb39a1

[2016-10-23 12:51] BonBonSlick commented on #202
Artessan, i always prefer to start new website from adminpanel building, to see what will be siplayed on front, how admins / moders can manage   data and etc important things.

[2016-10-23 13:16] gocanto commented on #202
Hi, thanks for your feedback. We will look into them as soon as possible. In the meanwhile, you are free to send PR's if you would like to contribute. This project was a testing one for me, but now, we are working on its refactoring ant-vel/Shop.

We will try to have this done asap.

Thanks

[2016-12-12 05:58] rowbone opened #227 "About reCaptcha"
I set APP_DEBUG == true in .env,but  the reCaptcha  be applied;

[2016-12-12 09:28] rowbone opened #228 "Resource Route Names No Longer Affected By Prefixes 5.3"
Resource Route Names No Longer Affected By Prefixes

[2016-12-12 21:22] gocanto commented on #227
It is working for me https://github.com/ant-vel/Antvel/blob/master/app/Http/Controllers/Auth/LoginController.php#L93

Can you check the code?

[2016-12-12 21:23] gocanto commented on #228
Can you be a little more specific?

thanks for testing.

[2016-12-13 00:35] rowbone commented on #228
Route [wpanel.category.create] not defined.because Resource Route Names No Longer Affected By Prefixes 5.3.
Route::group(['prefix' => 'wpanel', 'roles' => 'admin', 'middleware' => ['auth', 'roles']]

Route::group(['as' => 'wpanel.','prefix' => 'wpanel', 'roles' => 'admin', 'middleware' => ['auth', 'roles']]

[2016-12-13 18:07] gocanto commented on #228
wpanel is working for me locally? are you seeing any error related to this? if so, can you pint me out? thanks :)

[2017-01-07 08:01] cyblanceekhlas opened #231 "product image folder not found in github"
Not available  pt-default folder in your github
.
let me know what i can do ?

[2017-01-09 15:06] gocanto commented on #231
They are in https://github.com/ant-vel/Antvel/tree/master/storage/files/img/pt-default

[2017-01-09 15:06] #231 closed

[2017-01-09 15:06] #227 closed

[2017-01-09 15:07] #228 closed

[2017-01-21 11:43] mohamed3ali opened #234 "Wpanel not working properly : Route [wpanel.profile.update] not defined"
hello,

Whene i try to navigate in the Wpanel menu i get the same error: Route not defined

`Route [wpanel.profile.update] not defined. (View: /home/ubuntu/workspace/store/resources/views/company/index.blade.php)`

`Route [wpanel.category.create] not defined. (View: /home/ubuntu/workspace/store/resources/views/categories/home.blade.php)`

`Route [wpanel.productsdetails.create] not defined. (View:

[2017-01-23 22:37] gocanto commented on #234
I will push a PR soon.

[2017-01-23 22:37] #182 closed

[2017-01-27 21:21] gocanto commented on #234
fix is on its way

https://github.com/g-forks/Antvel/commit/466c4706edf51d2063b3e66ffab327f48958836c

[2017-02-01 07:08] mfhujaeri commented on #117
C:\xampp\htdocs\Antvel-master>php artisan migrate:refresh --seed
Migration table not found.
Migration table created successfully.

  [Illuminate\Database\QueryException]
  SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error i
  n your SQL syntax; check the manual that corresponds to your MariaDB server
   version for the right syntax to use near 'json null, `remember_token` v

[2017-02-01 15:24] #234 closed

[2017-02-02 13:34] mohamed3ali commented on #234
thanks, i'll try it soon

[2017-02-05 05:38] imanghafoori1 opened #241 "This design pattern may help you a lot."
Hi, and thank you for your hard work.

I wanted to make you aware of a new design pattern which may help you a lot.
Please take a look at this repo for more information :

[2017-02-05 05:42] gocanto commented on #241
Thanks will check it

[2017-02-24 04:54] #241 closed

[2017-02-24 04:54] #180 closed

[2017-02-24 04:54] #181 closed

[2017-02-24 13:04] hammad786 opened #245 "How to access admin panel?"
How to access admin panel?

These credentials are not letting me access http://antvel.com/wpanel

Demo: http://antvel.com
Admin: admin@antvel.com / admin
Buyer: buyer@antvel.com / admin
Seller: seller@antvel.com / admin

Are you sure the password is "admin"?

[2017-02-24 15:00] gocanto commented on #245
Admin access is not available im the demo page. You will have to clone, install, etc.. for u to see it working.

[2017-02-24 15:00] #245 closed

[2017-02-24 19:32] hammad786 opened #246 "Migrations issue"
I just cloned the Antvel. I'm stuck on migrations, using master branch

"
  [Illuminate\Database\QueryException]
  SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the
  manual that corresponds to your MariaDB server version for the right syntax to use near 'json null, `rem
  ember_token` varchar(100) null, `created_at` timestamp null, `upd' at li

[2017-02-25 16:38] hammad786 commented on #246
It is a very painful experience so far. Still stuck on to get it work.

Migration is done. It is only seeding

Seeding: AdminTableSeeder

and there no effect on db after seeding.

While localhost shows

"This site can’t be reached. localhost refused to connect."

Would you please help me in this regard?

Spent around 24 hours on getting it work. still no luck. I've used hundreds of packages before

[2017-02-26 15:06] gocanto commented on #246
Closed due to #247

[2017-02-26 15:06] #246 closed

[2017-03-02 03:46] vicrly opened #248 "db:seed error Segmentation fault"
**system:**
centos 7.2
Apache/2.4.6
PHP/5.6.21
MariaDB 5.5.52

git clone install

run php artisan db:seed or php artisan migrate:refresh --seed
return
Seeding: AdminTableSeeder
Segmentation fault

/var/log/message info
 kernel: php[25595]: segfault at 7fff547fcfc8 ip 00007ff5a651c4db sp 00007fff547fcfd0 error 6 in php[7ff5a62b0000+399000]

[2017-03-02 14:33] gocanto commented on #248
You might consider take a look at the app repo because this one does not have any longer support. Tahnks a lot for testing

[2017-03-02 14:33] #248 closed

[2017-04-29 05:53] fawel11 opened #249 "Mirate couses the error"
10.1.21-MariaDB
![capture](https://cloud.githubusercontent.com/assets/24638837/25553341/3151f892-2cd2-11e7-9293-cf5f5f54311e.JPG)
Can i have the sql database file?

[2017-04-29 17:00] gocanto commented on #249
As far as I know, Maria DB does not support json columns yet, so you might want to either change to mysql or edit the migrations columns with using text type.

@percymamedy,  What is your opinion on this?

[2017-04-29 17:11] gocanto commented on #249
I went ahead and opened a thread in Laracast https://laracasts.com/discuss/channels/laravel/laravel-and-mariadb-json-columns-issue

I really want to get this working.

Thanks for testing,

[2017-04-29 17:24] gocanto commented on #249
@fawel11

Did you get the chance to read this post? https://mariadb.com/resources/blog/json-mariadb-102

It seems like MariaDb 10.2  supports JSON

[2017-04-29 19:42] gocanto commented on #249
Closed due to https://mariadb.com/resources/blog/json-mariadb-102

I read the whole article and it explains how this can be addressed.

Thanks for testing.

[2017-04-29 19:42] #249 closed

[2017-05-11 11:05] lzuccaro commented on #71
@TsenkoTsenov Which release?

[2017-05-11 12:27] gocanto commented on #71
Still have the issue?

[2017-05-11 13:01] lzuccaro commented on #71
Yes. I've phpmyadmin v4.5.4

[2017-05-11 13:46] gocanto commented on #71
Did u update ur mysql and phpmyadmin? The problem here seems to be related to them

[2017-07-22 19:35] #92 closed